.profile__info {
  margin: 0px;
  margin-left: 30px;

  display: grid;
  grid-template-columns: 346px 24px;
  grid-template-rows: 48px 22px;

  row-gap: 7px;
  column-gap: 18px;

  grid-template-areas:
  "name button"
  "description .";

  align-self: center;
}

@media screen and (max-width: 800px) {
  .profile__info {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 568px) {
  .profile__info {
    margin: 28px 19px 0 50px;
    max-width: calc(100vw - 19px - 50px);

    grid-template-columns: 189px 18px;
    grid-template-rows: 33px 17px;

    column-gap: 10px;
  }
}

