.cards {
  max-width: 880px;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);

  column-gap: 17px;
  row-gap: 20px;

  padding: 0;
}

@media screen and (max-width: 920px) {
  .cards {
    margin: 0 auto;
    justify-content: center;

    padding: 0 80px;
  }
}

@media screen and (max-width: 568px) {
  .cards {
    margin: 36px 19px 0 19px;
  }
}
