.header {
  margin: 0 auto 0 auto;
  padding-top: 45px;

  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 920px) {
  .header {
    width: calc(920px - 80px * 2);
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 100vw;
  }
}

@media screen and (max-width: 568px) {
  .header {
    margin-top: 28px;
  }
}
